:root {
    --color-red:#ac3b61;
    --color-text: #7a7a7a;
    --color-gray: #9e9e9e;
    --color-black: #262626;
}
a.link {
    color: var(--color-red);
    text-decoration: none;
    transition: opacity 0.25s ease;
}
a.link:hover {
    opacity: 0.7;
}
.header {
    position: relative;
    bottom: 70px;
    height: 60vh;
    background: url(../png/preview16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0%, 100% 54%, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.header__background {
    height: inherit;
    position: absolute;
    width: 100%;

    background: rgba(237, 199, 183, 0.5) ;

    z-index: 1;
}

#hamburger, .menu-hamburger {
    display: none;
}

.header-top {
    position: sticky;
    top: 0;
    z-index: 3;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background: rgba(237, 199, 183, 1)

}
.header-top a.link {
    color: #123c69;
}
.header-top a.link.active, .header-top a.link:hover:not(.logo) {
    color: var(--color-red);
}
.logo {
    color: var(--color-main__text);
    font-size: 30px;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-element {
    margin-right: 20px;
    font-size: 25px;
}

.menu-element:last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-red);
}

.menu-element__link.home {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 24px;
    height: 24px;
    color: var(--color-main__text);
}

.header-center {
    color: #123c69;
    display: flex;
    flex-direction: column;
    height: calc(60vh - 70px);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.header-center__wrapper {
    background: rgba(237, 199, 183, 0.8);
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding: 10px 0 20px;
}

.name {
    font-size: 59px;
    padding-bottom: 10px;
    line-height: 59px;
}

.description {
    font-size: 28px;
}

.feedback {
    margin-bottom: 40px;
}

.slider {
    position: relative;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.slider_wrapper  {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    text-align: center;
    margin-bottom: 20px;

    transition: all .5s;
}

.slider_link {
    flex: 1 1 33%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid rgba(237, 199, 183, 1);
    padding: 5px;
}

.slider_name {
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 7px;
    font-weight: 700;
}


.slider_text {
    width: 100%;
    font-size: 20px;
    color: var(--color-text);
}

.slider_input {
    display: none;
}

.slider_controls {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    left: 48%;
}

.slider_controls__element {
    display: inline-block;
    width: 40px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #000;
    background: rgb(0 0 0 /20%);

    cursor: pointer;
    transition: opacity 0.25s ease;
}

.slider_controls__element:hover {
    opacity: 80%;
    background: var(--color-red);
}

.slider_input:first-of-type:checked ~ .slider_wrapper:first-of-type{
    margin-left: 0;
}
.slider_input:nth-of-type(2):checked ~ .slider_wrapper:first-of-type{
    margin-left: -100%;
}



/* Подвал*/
.footer {
    background: rgba(237, 199, 183);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-about {
    margin-top: 10px;
    color: var(--color-text);
}
